<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eleanor.segproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Service Provider App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddService"/>
        <activity android:name=".Admin"/>
        <activity android:name=".LoginAdmin"/>
        <activity android:name=".EditService"/>
        <activity android:name=".HomeOwner" />
        <activity android:name=".HomeOwnerWelcome" />
        <activity android:name=".RemoveService"/>
        <activity android:name=".SearchForProvider"/>
        <activity android:name=".ServiceProvider"/>
        <activity android:name=".ServiceProviderWelcome" />
        <activity android:name=".Service"/>
        <activity android:name=".ServiceProviderAddRemoveService"/>
        <activity android:name=".ServiceProviderViewServices"/>
        <activity android:name=".SpecifyAvailability"/>
        <activity android:name=".ViewList"/>


    </application>

</manifest>